<footer class = "bg-dark p-4 d-flex justify-content-around align-items-center">
    <div class="text-start text-light w-25">
        <h3 class="p-3">Taller Web 1</h3>
        <img th:src="@{/images/unlam_logo.png}" alt="Logo unlam" class="w-50">
    </div>
    <div class="text-light text-start w-25">
        <h3>Grupo 8 - Integrantes:</h3>
        <p>Coppola, Franco Gianni</p>
        <p>Chambi, Pablo Ariel</p>
        <p>Medina, Mauricio Hernan</p>
        <p>Rocha, Pablo Agustin</p>
    </div>
</footer>