<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #c50000!important;">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="m-auto w-25 text-center" href="#" style=" height:100px!important;">
                <img src="/spring/images/THACO_LOGO.jpg" alt="Logo" style=" height:100px!important;" class="w-75">
            </a>
            <!-- Botón para móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center" style="display: flex; gap: 12px; align-items: center;">
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" aria-current="page"  th:href="@{/home}">Inicio</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" th:href="@{/formPedido}">Hacer Pedido</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" href="#">Simulador</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" href="#">Historial de Pedidos</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" href="#">Catálogo</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" th:href="@{/archivos}">Archivos</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" href="#">Gestionar Telas</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Notificaciones <span class="badge text-bg-secondary"></span></a>
                    </li>
                    <li class="nav p-2 d-flex flex-row align-items-center justify-content-around">
                        <!-- Usuario y logo de usuario -->
                        <a th:href="@{/perfil}" class="navbar-text me-3 text-light">
                            <span th:text="${nombre}"> </span>
                        </a>
                        <a href="#" class="nav-link">
                            <img th:src="@{/images/perfil.png}" alt="Usuario" width="50" height="50" class="d-inline-block align-text-top">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>