<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">

<!--Head (LINK, STYLE, ETC) -->
<!--<head th:insert="templates/head :: head"></head> -->
<header th:fragment="header_admin">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #c50000!important;">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="logo" th:href="@{/home}">
        <img th:src="@{/images/THACO_LOGO.jpg}" alt="Logo" style="height:100px!important; width:200px!important;" class="w-75">
      </a>
      <!-- Botón para móviles -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links de navegación -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center" style="display: flex; gap: 12px; align-items: center;">
          <!--<li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{/admin/dashboard}">Dashboard</a>
          </li>-->
          <li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{/admin/pedidos}">Gestión de Pedidos</a>
          </li>
          <!--<li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{/admin/validacion}">Validación de Archivos</a>
          </li>-->

          <li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{#}">Simulador</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{/admin/telas}">Gestión de Telas</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{/admin/catalogo}">Catálogo de Telas</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{/admin/usuarios}">Usuarios</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{#}">Reportes</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-light" th:href="@{/admin/notificaciones}">Notificaciones</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-light" id="iconoContactos">
              <i class="bi bi-wechat" style="font-weight: 800;"></i>
            </a>
          </li>
          <li class="nav p-2 d-flex flex-row align-items-center justify-content-around">
            <!-- Usuario y logo de usuario -->
            <a th:href="@{/perfil}" class="navbar-text me-3 text-light">
              <span th:text="${nombre}"> </span>
            </a>
            <a href="#" class="nav-link">
              <img th:src="@{/images/perfil.png}" alt="Usuario" width="50" height="50" class="d-inline-block align-text-top">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

</html>