<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--Head (LINK, STYLE, ETC) -->
<head th:insert="templates/head :: head"></head>
<body>
<!--Header (NAVEGADOR) -->
<header th:insert="templates/header :: header"></header>
    <main>
        <section class="w-100 position-relative">
            <div class="d-flex justify-content-center align-items-center flex-column position-absolute top-0 bottom-0 bg-black bg-opacity-50 w-100 text-light text-center">
                <h1 class="text-center p-4 m-0">Bienvenido  <span th:text="${nombre}"></span></h1>
                <p class="text-start fs-5 p-4 w-50 m-0">
                    Crea tus pedidos de sublimación,
                    sube tus diseños y segui el estado de tus pedidos en tiempo real.
                    Te notificamos sobre cualquier actualización.
                    Explora nuestro catálogo de rollos de tela y
                    gestiona tus compras y proyectos de sublimación fácilmente desde un solo lugar.
                </p>
                <a th:href="@{/formPedido}" class="btn m-4 btn-lg btn-warning w-25 fw-bold ">
                    Hacer un pedido
                </a>
                <div class="d-flex flex-row">
                    <a href="#" class="btn btn-outline-warning btn-lg m-2">
                        Ver tus pedidos
                    </a>
                    <a th:href="@{/archivos}" class="btn btn-outline-warning btn-lg m-2">
                        Ver tus archivos
                    </a>
                </div>
            </div>
            <img th:src="@{/images/plotter_1.jpg}" alt="telas sublimadas" style="max-width: 100%;">
        </section>
        <section>
            <div id="cajaMensajeria">
                <header>
                    Mensajería con Admin
                </header>
                <div id="mensajes"></div>
                <textarea name="mensaje" id="mensaje" placeholder="Escribe tu mensaje aquí"></textarea>
                <button onclick="enviarMensaje()">Enviar</button>
            </div>
        </section>
    </main>
    <div th:insert="templates/footer :: footer"></div>

</body>
<!-- Boostrap core javascript -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/js/mensajeriaCliente.js}"></script>

</html>