<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--Head (LINK, STYLE, ETC) -->
<head th:insert="templates/head :: head"></head>
<body >
<!--Header (NAVEGADOR) -->
<div th:insert="templates/header :: header"></div>
    <main>

        <section class="w-100 position-relative">
            <div class="d-flex justify-content-center align-items-center flex-column position-absolute top-0 bottom-0 bg-black bg-opacity-50 w-100 text-light text-center">
                <h1 class="text-center p-4 m-0">Bienvenido  <span th:text="${nombre}"></span></h1>
                <p class="text-start fs-5 p-4 w-50 m-0">
                    Crea tus pedidos de sublimación,
                    sube tus diseños y segui el estado de tus pedidos en tiempo real.
                    Te notificamos sobre cualquier actualización.
                    Explora nuestro catálogo de rollos de tela y
                    gestiona tus compras y proyectos de sublimación fácilmente desde un solo lugar.
                </p>
                <a th:href="@{/formPedido}" class="btn m-4 btn-lg btn-warning w-25 fw-bold ">
                    Hacer un pedido
                </a>
                <div class="d-flex flex-row">
                    <a href="#" class="btn btn-outline-warning btn-lg m-2">
                        Ver tus pedidos
                    </a>
                    <a th:href="@{/archivos}" class="btn btn-outline-warning btn-lg m-2">
                        Ver tus archivos
                    </a>
                </div>
            </div>
            <img th:src="@{/images/plotter_1.jpg}" alt="telas sublimadas" style="max-width: 100%;">
        </section>
        <section>
            <div id="cajaMensajeria">
                <header>
                    Mensajería con Admin
                </header>
                <div id="mensajes"></div>
                <textarea name="mensaje" id="mensaje" placeholder="Escribe tu mensaje aquí"></textarea>
                <button onclick="enviarMensaje()">Enviar</button>
            </div>
        </section>
    </main>
    <div th:insert="templates/footer :: footer"></div>
<!-- Boostrap core javascript -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function() {
        $('#iconoMensajeria').click(function() {
            $('#cajaMensajeria').toggle();
            if ($('#cajaMensajeria').is(':visible')) {
                obtenerMensajes();
            }
        });
    });

    function obtenerMensajes() {
        $.ajax({
            type: "GET",
            url: "/spring/obtenerMensajes",
            dataType: "json",
            success: function(response) {
                $('#mensajes').empty();
                response.forEach(function(msj) {
                    var mensajeHTML = `
                        <div class="mensaje" id="mensaje-${msj.id}" data-id="${msj.id}">
                            <span>${msj.contenido}</span>
                            <span class="hora">${new Date(msj.hora).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}</span>
                            <i class="bi bi-check2-all visto" ${msj.visto ? 'style="display:block;"' : 'style="display:none;"'}></i>
                        </div>`;
                    $('#mensajes').append(mensajeHTML);
                });
                scrollToBottom();
            },
            error: function(xhr, status, error) {
                console.error("Error: " + error);
                alert("Hubo un problema al obtener los mensajes.");
            }
        });
    }


    function enviarMensaje() {
        const mensaje = $("#mensaje").val();
        $.ajax({
            type: "POST",
            url: "/spring/enviarMensaje",
            data: { mensaje: mensaje },
            dataType: "json",
            success: function(response) {
                console.log(response); // Muestra el objeto completo en la consola

                var nuevoMensaje = `
                        <div class="mensaje" id="mensaje-${response.id}" data-id="${response.id}">
                        <span>${response.contenido}</span>
                        <span class="hora">${new Date(response.hora).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}</span>
                        <i class="bi bi-check2-all visto" ${response.visto ? 'style="display:block;"' : 'style="display:none;"'}></i>
                    </div>`;
                $("#mensajes").append(nuevoMensaje);
                $("#mensaje").val("");

                scrollToBottom();
            },
            error: function(xhr, status, error) {
                console.error("Error: " + error);
                alert("Hubo un problema al enviar el mensaje.");
            }
        });
    }

    function scrollToBottom() {
        var mensajes = document.getElementById("mensajes");
        mensajes.scrollTop = mensajes.scrollHeight;
    }
</script>


</body>
</html>