<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--Head (LINK, STYLE, ETC) -->
<head th:insert="templates/head :: head"></head>
<body class="p-0">
<!--Header (NAVEGADOR) -->
<div th:insert="templates/headerAdmin :: header"></div>
<main>
  <div class="container mt-5">
    <h1 class="mb-4">Lista de Usuarios</h1>
    <table class="table table-striped" th:each="user : ${usuarios}">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Nombre</th>
          <th scope="col">Usuario</th>
          <th scope="col">Pedidos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${user.email}"></td>
          <td th:text="${user.nombre}"> <span th:text="${user.apellido}"> </span> </td>
          <td>@<span th:text="${user.username}"></span></td>
          <td>
            <a th:href="@{/pedidosUsuario(id=${user.id})}" class="btn btn-primary">Ver pedidos</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<div th:insert="templates/footer :: footer"></div>
<!-- Boostrap core javascript -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>